
@font-face {
  font-family: 'averta_stdblack';
  src: url('./assets/fonts/intelligent_design_-_avertastd-black-webfont.woff2') format('woff2'),
       url('./assets/fonts/intelligent_design_-_avertastd-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'averta_stdblack_italic';
  src: url('./assets/fonts/intelligent_design_-_avertastd-bolditalic-webfont.woff2') format('woff2'),
       url('./assets/fonts/intelligent_design_-_avertastd-blackitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'averta_stdbold';
  src: url('./assets/fonts/intelligent_design_-_avertastd-bold-webfont.woff2') format('woff2'),
       url('./assets/fonts/intelligent_design_-_avertastd-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'averta_stdbold_italic';
  src: url('./assets/fonts/intelligent_design_-_avertastd-bolditalic-webfont.woff2') format('woff2'),
       url('./assets/fonts/intelligent_design_-_avertastd-bolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'averta_stdextrabold';
  src: url('./assets/fonts/intelligent_design_-_avertastd-extrabold-webfont.woff2') format('woff2'),
       url('./assets/fonts/intelligent_design_-_avertastd-extrabold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'averta_stdextrabold_italic';
  src: url('./assets/fonts/intelligent_design_-_avertastd-extrabolditalic-webfont.woff2') format('woff2'),
       url('./assets/fonts/intelligent_design_-_avertastd-extrabolditalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'averta_stdextrathin';
  src: url('./assets/fonts/intelligent_design_-_avertastd-extrathin-webfont.woff2') format('woff2'),
       url('./assets/fonts/intelligent_design_-_avertastd-extrathin-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'averta_stdextrathin_italic';
  src: url('./assets/fonts/intelligent_design_-_avertastd-extrathinitalic-webfont.woff2') format('woff2'),
       url('./assets/fonts/intelligent_design_-_avertastd-extrathinitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'averta_stdlight';
  src: url('./assets/fonts/intelligent_design_-_avertastd-light-webfont.woff2') format('woff2'),
       url('./assets/fonts/intelligent_design_-_avertastd-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'averta_stdlight_italic';
  src: url('./assets/fonts/intelligent_design_-_avertastd-lightitalic-webfont.woff2') format('woff2'),
       url('./assets/fonts/intelligent_design_-_avertastd-lightitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'averta_stdregular';
  src: url('./assets/fonts/intelligent_design_-_avertastd-regular-webfont.woff2') format('woff2'),
       url('./assets/fonts/intelligent_design_-_avertastd-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'averta_stdregular_italic';
  src: url('./assets/fonts/intelligent_design_-_avertastd-regularitalic-webfont.woff2') format('woff2'),
       url('./assets/fonts/intelligent_design_-_avertastd-regularitalic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

.rightColumn {
  background: #FAFAFA;
}

.leftColumn {
  padding-right: 0;
}

li .active {
  color: #00D563 !important;
  font-family: averta_stdbold;
}

.desktopNav {
  order: 2;
}

@media (min-width: 992px) {
  .desktopNav {
    order: unset;
  }
}
